.App {
  text-align: center;
}

h1 {
  line-height: 25%;
  font-size: 30px;
  color: burlywood;
}

span{
  font-size: 16px;
  color: burlywood;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-header nav,ul{
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 81, 105);
}

.App-header ul{
  padding-inline-start: 0;

}

.App-header li{
  text-decoration: none;
  list-style: none;
  display: flex;
  padding: 25px;
}

.App-header a{
  color:burlywood;
}

.App-header li:hover{
  background:crimson;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product__block{
  padding: 0px 50px 25px 50px;
  margin: 25px;
  background-color: coral;
}

.product__block button{
  background-color: rgb(0, 81, 105);
  color: burlywood;
  margin: 15px;
  width: fit-content;
  height: 35px;
  font-weight: 700;
  font-family:Arial, Helvetica, sans-serif;
  border-radius: 10%;
}

.product__block h3, .product__block p {
  color:rgb(43, 0, 26)
}

.product__block p{
  font-weight: 500;
  font-style: italic;
}

.product__block h3{
  padding: 25px;
  margin: 0;
}

.input__form {
  display: flex;
  flex-direction: row;

}
input{
  margin: 0px 5px;
  background-color: burlywood;
}

.profile__block__parent{
  display: flex;
  flex-wrap: wrap;
}